# Project-specific outputs
linear_regression/case_study_pilot/
linear_regression/figure_data/
linear_regression/figure_results/
linear_regression/__run_example.r
linear_regression/make_figure_all.r
linear_regression/model_ar2_errors

# R artifacts
.Rhistory
.RData
.Rproj.user/

# CmdStan / compilation outputs
*.o
*.so
*.d
*.exe

# Temporary files
*.log
*.tmp
.DS_Store