# Project-specific outputs
case_study_pilot/
figure_data/
figure_results/
__run_example.r
make_figure_all.r
model_ar2_errors

# R artifacts
.Rhistory
.RData
.Rproj.user/

# CmdStan / compilation outputs
*.o
*.so
*.d
*.exe

# Temporary files
*.log
*.tmp
.DS_Store